html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}



[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

body {
    font-size: 16px;
}

p {
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    line-height: 1.45;
}

p a {
    color: #86c440;
    font-weight: 600;
    transition: .2s;
}

p a:hover {
    color: #98d84f;
    transition: .2s;
    text-decoration: none;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 2em;
    color: #6da52e;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 1.875em;
    color: #6da52e;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 1.75em;
    color: #6da52e;
}

h4 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.625em;
}

h5 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

h6 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.375em;
}


/*added omar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5c8b2d;
}

li {
    float: left;
    border-right:1px solid #bbb;
    line-height: 1.75;
    font-family: "Nunito", sans-serif;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #6da52e;
}

.active {
    background-color: #ed8722;
}

.main-navigation{
    margin: 0;
    padding: 0;
    text-align: center;
}

.button{
    background-color: #98d84f;
}

.div1{
    width: 100%;
    height: 50px;
    border: 5px solid darkseagreen;
    box-sizing: border-box;
    text-align: center;
}
.div2{
    width: 100%;
    height: 50px;
    border: 5px solid darkseagreen;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.div3{
     width: 100%;
     height: 50px;
     border: 5px solid darkseagreen;
     box-sizing: border-box;
     text-align: center;
     float: right;
 }
.wsched{
    width: 100%;
    height: 50px;
    border: 5px solid darkseagreen;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
