<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Shifty by HTML5 UP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="assets/css/main.css">


    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="../CFA/calendar-flip-animation/dist/style.css">


    <!--from dynamic cal-->
    <!--    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"><link rel="stylesheet" href="../assets/dynamically-generated-calendar/dist/index.html">-->


</head>

<body class="is-preload">

<!-- Content -->
<div id="content">

    <div class="cal">
        <div class="container">
            <div class="calendar">
                <div class="front">
                    <div class="cal2endar__month">
                        <!--                        <h1>Tuesday 23rd</h1>-->
                        <!--                        <h1>November 2021</h1>-->
                        <div class="cal2-month__previous"><</div>
                        <div class="cal2-month__current"></div>
                        <div class="cal2-month__next">></div>
                    </div>

                    <div class="current-month">
                        <ul class="week-days">
                            <li class="cal2-head__day"></li>
                            <li class="cal2-head__day"></li>
                            <li class="cal2-head__day"></li>
                            <li class="cal2-head__day"></li>
                            <li class="cal2-head__day"></li>
                            <li class="cal2-head__day"></li>
                            <li class="cal2-head__day"></li>
                        </ul>
                    </div>

                    <div class="cal2endar__body">
                        <div class="cal2-body__week">
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                        </div>
                        <div class="cal2-body__week">
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                        </div>
                        <div class="cal2-body__week">
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                        </div>
                        <div class="cal2-body__week">
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                        </div>
                        <div class="cal2-body__week">
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                        </div>
                        <div class="cal2-body__week">
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                            <div class="cal2-body__day"></div>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <label>
                        <input placeholder="What's the event?">
                    </label>
                    <div class="info">
                        <div class="date">
                            <p class="info-date">
                                Date: <span>Nov 16th, 2021</span>
                            </p>
                            <p class="info-time">
                                Time: <span>2PM PM</span>
                            </p>
                        </div>
                        <div class="address">
                            <p>
                                Address: <span>Boone, NC</span>
                            </p>
                        </div>
                        <div class="observations">
                            <p>
                                Capstone Due: <span>Time to Panic!</span>
                            </p>
                        </div>
                    </div>

                    <div class="actions">
                        <button class="save">
                            Save <i class="ion-checkmark"></i>
                        </button>
                        <button class="dismiss">
                            Dismiss <i class="ion-android-close"></i>
                        </button>
                    </div>
                </div>
            </div>
       </div>
        <!-- partial -->
        <script src='https://momentjs.com/downloads/moment-with-locales.js'></script>
        <script src="../assets/dynamically-generated-calendar/dist/script.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
        <script src="./assets/js/jquery-3.6.0.min.js"></script>
    </div>

<br>

<div class="inner">

    <!-- Post -->
    <article class="box post post-excerpt">
        <a href="#" class="image featured"><img src="../assets/images/RE.jpg" alt=""/></a>
    </article>

</div>
</div>
<!-- Sidebar -->
<div id="sidebar">

    <!-- Logo -->
    <h1 id="logo"><a href="/">Shifty</a></h1>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/secretRoute">Manager Portal</a></li>
            <li class="current"><a href="calendarRoute">Calendar</a></li>
        </ul>

    </nav>

    <!-- Search -->
    <section class="box search">
        <form method="post" action="#">
            <label>
                <input type="text" class="text" name="search" placeholder="Search"/>
            </label>
        </form>
    </section>

    <!-- Text -->
    <section class="box text-style1">
        <div class="inner">
            <p>
                <strong>Shifty:</strong> There's freedom in knowing your schedule.
            </p>
        </div>
    </section>

    <!-- Copyright -->
    <ul id="copyright">
        <li>Omar Norombaba</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</div>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>
<!--<script src="../CFA/calendar-flip-animation/dist/style.css"></script>-->
<script src="../CFA/calendar-flip-animation/dist/script2.js"></script>

</body>
</html>