<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<h1>Employee View</h1>
<h1>Change the router over to print all</h1>

<!-"/test"->
<form action="/test" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="email" placeholder="youremail@gmail.com" name="email">
    <button type="submit">Submit</button>
</form>

<!--//gets all http://localhost:3000/index3-->
<!-- app.get('/index3', (req, res) => {-->
<!--     db.collection('userCollection').find().toArray().then(results => {-->
<!--         res.send(results);-->
<!--//         console.log(results);-->
<!--//     }).catch(error => console.error(error))-->
<!--//     // ...-->
<!--// }); //todo: change to 'index2'-->
</body>
