<!DOCTYPE HTML>
<!--
	Shifty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
<head>
  <title>Add Employee</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">

<!-- Content -->
<div id="content">
  <div class="inner">

    <!-- Post -->
    <article class="box post post-excerpt">
        <header>
          <!--
              Note: Titles and subtitles will wrap automatically when necessary, so don't worry
              if they get too long. You can also remove the <p> entirely if you don't
              need a subtitle.
          -->
          <h2><a href="#">New Employee Sign-Up:</a></h2>

          <p>This page should only be accessible by managers!</p>
        </header>
        <!-"/test"->
        <form action="/addEmp" method="POST">
          <input type="text" placeholder="First Name" name="fname">
          <input type="text" placeholder="Last Name" name="lname">
          <input type="email" placeholder="email@email.com" name="email">
          <input class="checkbox" type="checkbox"  style="display: inline-block;" id="adminCheckbox" name="admin" checked>
            <label for="adminCheckbox">Admin?</label>
          <button type="submit">Submit</button>
        </form>

        <a href="#" class="image featured"><img src="../assets/images/final%20technology%20instagram%20story.png" alt="" /></a>
    </article>
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar">

  <!-- Logo -->
  <h1 id="logo"><a href="/">Shifty</a></h1>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="current"><a href="index2">Add Employee</a></li>
      <li><a href="employeeRoute">Show Employee</a></li>
      <li><a href="calendarRoute">Calendar</a></li>
    </ul>
  </nav>
  <!-- Copyright -->
  <ul id="copyright">
    <li>&copy; Omar Norombaba</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>

</div>



<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>


