<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
<h1> MongoDb- Node - Nodemon - Express</h1>
<h1> Body-Parser - Mongoose - EJS</h1>

<!-"/test"->
<form action="/test" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="email" placeholder="youremail@gmail.com" name="email">
  <button type="submit">Submit</button>
</form>
</body>


<!--<form action="/user" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="quote" name="quote">
  <button type="submit">Submit</button>
</form>-->


<!--

<!DOCTYPE html>
<html>
  <head>
    <title><!-%= title %-></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><!-%= title %-></h1>-->
<!--    <p>Welcome to <!-%= title %-></p>-->


<!--
    <nav class="main-navigation">
      <div class="container">
        <ul>
          <li><a class="active" href="index.html">Index</a></li>
          <li><a href="/users">Users route</a></li>
          <li><a href="htmlFiles/openSchedule.html">above need on click 3000 Open Schedule</a></li>
        </ul>
      </div>
    </nav>

    <h1>Capstone Index Page</h1>
    <address>
      <p>	Omar Norombaba<br>
        Address: Boone, NC <br>

        Phone:  (910) 315-7620 <br>

        Email: <a href="mailto:norombabaor@appstate.edu">
          norombabaor@appstate.edu </a>
      </p>
    </address>
    <hr/>

    <form action = "/" method = "post" id="myForm">
      <label for="admin">Check this box if they're a manager:</label>
      <input type="checkbox" id="admin" name="admin">
      <!- <input type="checkbox" checked="checked">-->
<!-- <br><br>
      <label for="fname">First Name:</label>
      <input type="text" id="fname" name="fname">
      <label for="lname">Last Name:</label>
      <input type="text" id="lname" name="lname">
      <br><br>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <br><br>

      <input type="submit" value="Send Me!">
    </form>

  </body>
</html>
-->