<!DOCTYPE HTML>
<!--
	Shifty by Omar Norombaba
	Template from: html5up.net | @ajlkn
-->
<html lang="en">
<head>
    <title>Shifty by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">

<!-- Content -->
<div id="content">
    <div class="inner">

        <!-- Post -->
        <article class="box post post-excerpt">
            <header>
                <!--
                    Note: Titles and subtitles will wrap automatically when necessary, so don't worry
                    if they get too long. You can also remove the <p> entirely if you don't
                    need a subtitle.
                -->
                <h2><a href="#">Welcome to Shifty</a></h2>
                <p>A quick and easy scheduling service</p>
            </header>


            <a href="#" class="image featured"><img src="../assets/images/pic01.jpg" alt="" /></a>
            <p>
                <strong>Hello!</strong> You're looking at <strong>Shifty</strong>, a fully responsive HTML5 site template designed by <a href="http://twitter.com/ajlkn">AJ</a>
                for <a href="http://html5up.net">HTML5 UP</a> It features a clean, minimalistic design, styling for all basic page elements (including blockquotes, tables and lists), a
                repositionable sidebar (left or right), and HTML5/CSS3 code designed for quick and easy customization (see code comments for details).
            </p>

            <p>
                Shifty is released for free under the <a href="http://html5up.net/license">Creative Commons Attribution license</a> so feel free to use it for personal projects
                or even commercial ones &ndash; just be sure to credit <a href="http://html5up.net">HTML5 UP</a> for the design. If you like what you see here, be sure to check out
                <a href="http://html5up.net">HTML5 UP</a> for more cool designs or follow me on <a href="http://twitter.com/ajlkn">Twitter</a> for new releases and updates.
            </p>
        </article>


        <!-- Pagination -->
        <div class="pagination">
            <!--<a href="#" class="button previous">Previous Page</a>-->
            <div class="pages">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <span>&hellip;</span>
                <a href="#">20</a>
            </div>
            <a href="#" class="button next">Next Page</a>
        </div>

    </div>
</div>

<!-- Sidebar -->
<div id="sidebar">

    <!-- Logo -->
    <h1 id="logo"><a href="#">Shifty</a></h1>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li class="current"><a href="#">Home</a></li>
            <li><a href="/loginRoute">Login</a></li>
            <li><a href="scheduleRoute">Schedule</a></li>
            <li><a href="index2">Add Employee</a></li>
            <li><a href="employeeRoute">Show Employee</a></li>
            <li><a href="testdayroute">Day Test</a></li>
            <li><a href="calendarRoute">test calendar</a></li>
        </ul>
    </nav>

    <!-- Search -->
    <section class="box search">
        <form method="post" action="#">
            <input type="text" class="text" name="search" placeholder="Search" />
        </form>
    </section>

    <!-- Text -->
    <section class="box text-style1">
        <div class="inner">
            <p>
                <strong>Shifty:</strong> No more paper napkins!
            </p>
        </div>
    </section>

    <!-- Recent Posts -->
    <section class="box recent-posts">
        <header>
            <h2>Videos</h2>
        </header>
        <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Feugiat nisl aliquam</a></li>
        </ul>
    </section>

    <!-- Recent Comments -->
    <section class="box recent-comments">
        <header>
            <h2>Recent Comments</h2>
        </header>
        <ul>
            <li>case on <a href="#">Lorem ipsum dolor</a></li>
            <li>molly on <a href="#">Sed dolore magna</a></li>
        </ul>
    </section>

    <!-- Copyright -->
    <ul id="copyright">
        <li>&copy; Omar Norombaba</li>
        <li>Design: <a href="http://html5up.net">HTML5</a></li>
    </ul>

</div>

<!--As mentionned in comments: you need a way to send your static files to the client. This can be achieved with a reverse proxy like Nginx, or simply using express.static().-->

<!--Put all your "static" (css, js, images) files in a folder dedicated to it, different from where you put your "views" (html files in your case). I'll call it static for the example. Once it's done, add this line in your server code:-->

<!--app.use("/static", express.static('./static/'));-->
<!--This will effectively serve every file in your "static" folder via the /static route.-->

<!--Querying your index.js file in the client thus becomes:-->

<!--<script src="static/index.js"></script>-->


<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>