<h1>login</h1>

<form action="/loginRoute" method="POST">
    <input type="text" name="username"
           placeholder="username">
    <input type="password" name="password"
           placeholder="password">
    <button>login</button>
</form>

<h1>This is home page</h1>

<li><a href="/registerRoute">Sign up!!</a></li>
<li><a href="/loginRoute">Login</a></li>
<li><a href="/logoutRoute">Logout</a></li>